/* * {
    color: #fff;
  } */
ul {
  display: flex;
}
li {
  list-style: none;
  /* margin: 20px; */
  margin-right: 10px;
}
li:hover {
  background-color: lightgreen;
  cursor: pointer;
  /* padding: 5px; */
}

h2 {
  text-align: center;
  color: #fff;
}
.bgImg {
  background-image: url("img/banner.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}
.parent {
  display: flex;
}
